body {
  margin: 0;
  overflow-y: hidden;
}

.App {
  position: relative;
  display: Flex;
  width: 100vw;
  height: 100vh;
}

.outer-base {
  display: inline-block;
  height: 100vh;
  width: 85vw;
  overflow-y: scroll;
}

/* 화면에서 스크롤바 안보이게 */
.outer-base::-webkit-scrollbar {
  display: none;
}

.inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "NanumSquareNeoHeavy";
  height: 100vh;
  width: 100%;
  font-size: 100px;
  overflow: hidden;
}

.region-title {
  z-index: 10;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.back-img {
  position: absolute;
  filter: blur(8px);
  transform: scale(1.02);
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
}

.page-1 .back-img {
  background-image: url("../img/japan.jpg");
}
.page-2 .back-img {
  background-image: url("../img/china.jpg");
}
.page-3 .back-img {
  background-image: url("../img/vietnam.jpg");
}
.page-4 .back-img {
  background-image: url("../img/russia.jpg");
}

.nav {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
  height: 100vh;
  width: 15%;
  font-family: "NanumSquareNeoHeavy";
  font-size: 30px;
  z-index: 9999;
}

.nav-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 25%;
  width: 100%;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-section:hover {
  background-color: #fff;
}

.click-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.click-section.true {
  background-color: #fff;
}
