@keyframes cursorBlink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  overflow-y: hidden;
}

.App {
  position: relative;
  display: Flex;
  width: 100vw;
  height: 100vh;
}

.outer-base {
  display: inline-block;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}
/* 화면에서 스크롤바 안보이게 */
.outer-base::-webkit-scrollbar {
  display: none;
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  font-family: "NanumSquareNeoLight";
  height: 100vh;
  width: 100%;
  font-size: 80px;
  overflow: hidden;
  background-color: #fafbff;
}

.back-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.back-video-filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
}

.back-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-title-wrap {
  margin: 0 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
}

.main-title {
  margin: 5px 0;
  display: inline-block;
  height: 89px;
  z-index: 10;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.main-title.context {
  position: relative;
  font-family: "NanumSquareNeoHeavy";
  white-space: pre-wrap;
}

.main-title.context::before {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 8px;
  height: 100%;
  content: "";
  background-color: white;
  animation: cursorBlink 0.5s infinite alternate;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
