body {
  margin: 0;
  overflow-y: hidden;
}

.outer-base {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

/* 화면에서 스크롤바 안보이게 */
.outer-base::-webkit-scrollbar {
  display: none;
}

.inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "NanumSquareNeoHeavy";
  height: 100vh;
  width: 80%;
  font-size: 100px;
  overflow: hidden;
}

.region-title {
  z-index: 100;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.back-img {
  position: absolute;
  filter: blur(8px);
  transform: scale(1.02);
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
}

.page-1 .back-img {
  background-image: url("../img/japan.jpg");
}
.page-2 .back-img {
  background-image: url("../img/china.jpg");
}
.page-3 .back-img {
  background-image: url("../img/vietnam.jpg");
}
.page-4 .back-img {
  background-image: url("../img/russia.jpg");
}

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  background-color: rgb(240, 248, 255);
  height: 100vh;
  width: 20%;
  font-family: "NanumSquareNeoHeavy";
  font-size: 40px;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25%;
  width: 100%;
}

.nav-section.section-2,
.nav-section.section-4 {
  background-color: rgb(228, 236, 243);
}
