.registerpage-wrap {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(250, 250, 250);
  z-index: 99;
}

.register-box {
  padding: 50px;
  width: 400px;
  height: 550px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
}

.register-title {
  display: block;
  color: rgb(97, 171, 255);
  font-family: "NanumSquareNeoHeavy";
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.register-input {
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  height: 30px;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset;
  padding: 0 5px;
}

.register-submit-btn {
  margin-bottom: 8px;
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resign-label {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 0, 0, 0.6);
  font-family: "NanumSquareNeoLight";
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
