@keyframes waving {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-6px);
  }
  40% {
    transform: translateX(6px);
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
  }
  60% {
    transform: translateX(-6px);
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
  }
  80% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0px);
  }
}

.loginpage-wrap {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(250, 250, 250);
  font-family: "NanumSquareNeoLight";
  z-index: 99;
}

.login-box {
  padding: 50px;
  width: 400px;
  height: 550px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
}

.login-title {
  display: block;
  color: rgb(97, 171, 255);
  font-family: "NanumSquareNeoHeavy";
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.warn-msg-box {
  display: block;
  height: 20px;
  text-align: center;
}

.warn-msg-label {
  display: block;
  height: 20px;
  font-family: "NanumSquareNeo";
  font-size: 14px;
  color: red;
}

.warn-msg-label.active {
  animation: waving 0.6s ease;
}

.login-input {
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  height: 30px;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset;
  padding: 0 5px;
}

.login-submit-btn {
  margin-bottom: 5px;
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-label {
  display: block;
  text-align: center;
  color: #aaa;
  font-family: "NanumSquareNeoLight";
  text-decoration: none;
  font-size: 14px;
}
