@keyframes smoothOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes smoothAppear {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.map-modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 85vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  cursor: default;
  z-index: -99;
  color: #454545;
}

.map-modal-outer {
  position: absolute;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
}
.map-modal-outer.openAnimation {
  animation: smoothOpacity 0.5s ease-in-out 0s 1 normal forwards;
}
.map-modal-outer.closeAnimation {
  animation: smoothOpacity 0.5s ease-in-out 0s 1 reverse forwards;
}

.map-modal-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  padding: 0 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.map-modal-container.openAnimation {
  animation: smoothAppear 0.5s ease 0s 1 normal forwards;
}

.map-modal-container.closeAnimation {
  animation: smoothAppear 0.5s ease 0s 1 reverse forwards;
}

.map-modal-close-btn:hover {
  transform: translateY(-4px);
}
.map-modal-close-btn:hover::before {
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);
}
.map-modal-close-btn:hover::after {
  box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.5);
}

.map-modal-title {
  box-sizing: border-box;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 0 11px;
  width: 911px;
  font-family: "NanumSquareNeo";
  font-size: 24px;
  border: 1px solid #eaeef1;
  background-color: #fafbfc;
  border-radius: 6px;
}
.map-modal-title b {
  font-weight: inherit;
  font-family: "NanumSquareNeoExtraBold";
}

.map-img {
  display: block;
  width: 911px;
  height: 800px;
  border-radius: 6px;
  margin-top: 20px;
  border: 1px solid #eaeef1;
}

.map-alarm-wrap {
  box-sizing: border-box;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 0 11px;
  width: 911px;
  text-align: start;
  font-family: "NanumSquareNeo";
  font-size: 14px;
  border: 1px solid #eaeef1;
  background-color: #fafbfc;
  border-radius: 6px;
}

.map-alarm-remark {
  margin: 0 14px;
}

.safe-lvl {
  width: 180px;
  box-sizing: border-box;
  margin: 0px 14px 8px;
  padding: 6px 0;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-family: "NanumSquareNeoExtrabold";
  text-align: center;
}

.safe-lvl.lvl-0 {
  background-color: #aaa;
  color: black;
}

.safe-lvl.lvl-1 {
  background-color: #0469bf;
  color: whitesmoke;
}

.safe-lvl.lvl-2 {
  background-color: #fcc33c;
  color: black;
}

.safe-lvl.lvl-3 {
  background-color: #c82613;
  color: whitesmoke;
}

.safe-lvl.lvl-4 {
  background: repeating-linear-gradient(130deg, #000, #000 5px, #760000 0, #760000 10px);
  color: whitesmoke;
}
