@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.info-modal-wrap {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  color: #454545;
  width: 100vw;
  height: 100vh;
}

.info-modal-wrap .back-board {
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

.info-modal-wrap .exit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  overflow: hidden;
  z-index: 999;
}

.info-modal-wrap .exit-btn::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 2px;
  height: 22px;
  background-color: white;
  content: "";
}
.info-modal-wrap .exit-btn::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  width: 2px;
  height: 22px;
  background-color: white;
  content: "";
}

.error-msg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  text-align: center;
}
.error-code {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: block;
  font-size: 16px;
  color: rgba(165, 42, 42, 0.5);
}

.loader-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.loader {
  position: absolute;
  top: 47%;
  left: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid rgb(97, 171, 255);
  border-left: 4px solid transparent;
}

.inner-container {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  width: 85%;
  height: 100%;
  font-family: "NanumSquareNeo";
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow: overlay;
  scrollbar-gutter: unset;
}
.info-modal-wrap.opening .inner-container {
  animation: smoothAppear 0.5s ease 0s 1 normal forwards;
}
.inner-container::-webkit-scrollbar {
  display: none;
}

.inner-container.loading .inner-block {
  box-sizing: border-box;
  padding: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.inner-block {
  box-sizing: border-box;
  padding: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.region-back-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.region-back-video-filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
}
.region-back-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-wrap {
  z-index: 10;
  color: #e1e1e1;
}

.title-region-name {
  display: block;
  margin-bottom: 14px;
  font-family: "NanumSquareNeoHeavy";
  font-size: 50px;
}

.title-region-name b {
  font-weight: inherit;
  font-family: "NanumSquareNeo";
  color: rgb(97, 171, 255);
}

.title-region-lore {
  display: block;
  margin: 0;
  font-family: "NanumSquareNeoLight";
  font-size: 24px;
}

.sidebar {
  width: 15%;
  height: 100%;
  background-color: #6194ff;
  color: #eee;
  font-size: 30px;
}

.side-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "NanumSquareNeoHeavy";
  width: 100%;
  height: 8%;
}

.region-stared-btn {
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: "NanumSquareNeoLight";
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.region-stared-btn.stared {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #ffc90e;
}
.side-title .region-name-wrap {
  text-align: center;
}
.side-title .region-name-wrap .region-name-KR {
  display: block;
  font-size: 36px;
}
.side-title .region-name-wrap .region-name-EN {
  display: block;
  font-size: 20px;
}

.side-items-wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 92%;
}

.side-item {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
  right: -2px;
  background-color: #6194ff;
  font-family: "NanumSquareNeoLight";
  width: 100%;
  height: 25%;
  z-index: 10;
  overflow: hidden;
  transition: all 0.4s;
  flex-direction: column;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  cursor: default;
}
.side-item.item-1 {
  top: 0;
}
.side-item.item-2 {
  top: 25%;
}
.side-item.item-3 {
  top: 50%;
}
.side-item.item-4 {
  top: 75%;
}
.side-item:hover {
  width: 105%;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  z-index: 11;
  box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.5);
}

.side-item-title {
  display: block;
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-family: "NanumSquareNeoHeavy";
}

.inner-block.page-2 {
  padding: 0;
  display: block;
  background-color: #f5f5f5;
}
.inner-block.page-3 {
  padding: 0;
  display: block;
  background-color: #f5f5f5;
}

.travel-news-item {
  display: inline-flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
  padding: 10px;
  flex-direction: column-reverse;
  align-content: flex-start;
}

.news-title {
  font-size: 30px;
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  height: 100%;
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #454545;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.news-title:hover {
  transform: scale(1.02);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.news-title-label {
  display: block;
  margin-bottom: 20px;
  font-size: 28px;
  font-family: "NanumSquareNeoHeavy";
}

.news-title-content {
  display: block;
  width: 100%;
  font-size: 16px;
  font-family: "NanumSquareNeoLight";
}

.exchange-unit {
  font-size: 16px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.side-weather {
  font-size: 30px;
}

.inner-block.page-4 {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
}

.info-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 8px 0;
  width: 32%;
  height: 48%;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  transition: all 0.3s;
  cursor: pointer;
  padding: 40px;
  flex-direction: column;
}
.info-item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
.info-item.flight {
  padding: 30px;
}

.info-title {
  position: absolute;
  transform: translateX(-50%);
  top: 50px;
  left: 50%;
  font-size: 46px;
  font-family: "NanumSquareNeoHeavy";
}

.flight-title {
  display: block;
  width: 100%;
  font-size: 24px;
  font-family: "NanumSquareNeoHeavy";
  padding-bottom: 8px 0;
  margin-top: 25px;
  border-bottom: 2px solid #6194ff;
}

.flight-label {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 22px;
  font-family: "NanumSquareNeoLight";
  padding: 8px 10px;
}

.flight-label p {
  font-size: 26px;
  font-family: "NanumSquareNeoBold";
  display: inline-block;
  margin: 0;
}
