.inner.page-3 {
  box-sizing: border-box;
  padding: 0 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.region-card-wrap {
  position: relative;
  margin: 20px 10px;
  display: inline-block;
  width: 240px;
  height: 360px;
  color: white;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-decoration: none;
  transition: all 0.3s;
  outline: none;
}
.region-card-wrap:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 0 3px rgb(97, 171, 255), 0 8px 10px rgba(0, 0, 0, 0.2);
}

.region-card-img {
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
}
.card-img-blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: all 0.3s;
}
.region-card-wrap:hover .card-img-blur {
  opacity: 1;
}

.region-card-back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.region-name {
  display: block;
  width: 100%;
  font-family: "NanumSquareNeoHeavy";
  font-size: 36px;
  text-align: center;
  transition: all 0.3s;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.region-card-wrap:hover .region-card-back .region-name {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.region-lore {
  font-size: 20px;
  overflow: hidden;
  transition: all 0.3s;
  height: 0;
}
.region-card-wrap:hover .region-card-back .region-lore {
  height: 100px;
}

.region-card-img.JP {
  background-image: url("../img/JP.jpg");
}
.region-card-img.CN {
  background-image: url("../img/CN.jpg");
}
.region-card-img.VN {
  background-image: url("../img/VN.jpg");
}
.region-card-img.US {
  background-image: url("../img/US.jpg");
}
.region-card-img.UK {
  background-image: url("../img/UK.jpg");
}
.region-card-img.RU {
  background-image: url("../img/RU.jpg");
}
