.inner.page-3 {
  box-sizing: border-box;
  padding: 0 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.region-card-wrap {
  padding: 20px;
  box-sizing: border-box;
  margin: 20px 10px;
  display: inline-block;
  width: 300px;
  height: 460px;
  font-family: "NanumSquareNeo";
  font-size: 18px;
  color: black;
  border-radius: 14px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s;
  text-decoration: none;
}

.region-card-wrap:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.region-name {
  display: block;
  font-family: "NanumSquareNeoHeavy";
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.region-info {
  list-style: none;
  padding: 0;
}
