@keyframes smoothOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.info-modal-wrap {
  box-sizing: border-box;
  padding: 80px 100px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  color: #454545;
  width: 100vw;
  height: 100vh;
}

.info-modal-wrap .back-board {
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}
.info-modal-wrap.opening .back-board {
  animation: smoothOpacity 0.5s ease 0s 1 normal forwards;
}

.info-modal-wrap .exit-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  opacity: 0.3;
  overflow: hidden;
}

.info-modal-wrap .exit-btn::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 2px;
  height: 50px;
  background-color: white;
  content: "";
}
.info-modal-wrap .exit-btn::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  width: 2px;
  height: 50px;
  background-color: white;
  content: "";
}

.error-msg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  text-align: center;
}
.error-code {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: block;
  font-size: 16px;
  color: rgba(165, 42, 42, 0.5);
}

.loader-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.loader {
  position: absolute;
  top: 47%;
  left: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid rgb(97, 171, 255);
  border-left: 4px solid transparent;
}

.inner-container {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-family: "NanumSquareNeo";
  font-size: 40px;
  border-radius: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow: overlay;
  scrollbar-gutter: unset;
}
.info-modal-wrap.opening .inner-container {
  animation: smoothAppear 0.5s ease 0s 1 normal forwards;
}
.inner-container::-webkit-scrollbar {
  display: none;
}

.inner-container.loading .inner-block {
  box-sizing: border-box;
  padding: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.inner-block {
  box-sizing: border-box;
  padding: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.title-region-name {
  display: block;
  margin-bottom: 14px;
  font-family: "NanumSquareNeoHeavy";
  font-size: 50px;
}

.title-region-name b {
  font-weight: inherit;
  font-family: "NanumSquareNeo";
  color: rgb(97, 171, 255);
}

.title-region-lore {
  display: block;
  margin: 0;
  font-family: "NanumSquareNeoLight";
  font-size: 24px;
}

.inner-block.page-2 {
  padding: 50px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, minmax(200px, auto));
  grid-template-rows: repeat(3, minmax(200px, auto));
  gap: 10px;
}

.page-2 .items {
  border: 1px solid black;
}
