.App {
  text-align: center;
  overflow: hidden;
}

.rootBackground {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; height: 100vh;
  background: linear-gradient(#8CA6DB, #b993d6);
  background: #454545;
}

.outer-container {
  font-family: 'NanumSquareNeo';
  color: #454545;
  display: inline-block;
  background: white;
  border-radius: 15px;
  padding: 50px;
  width: 500px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.outer-container .outer-title {
  font-family: 'NanumSquareNeoHeavy';
  font-size: 40px;
  margin-bottom: 40px;
}

.combo-box {
  display: block;
  margin: 0 auto 20px auto;
  width: 180px; height: 40px;
  border: 1px solid #454545;
  border-radius: 20px;
  color: #454545;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
  font-family: 'NanumSquareNeo';
  font-size: 18px;
  text-align: center;
  transition: all ease .5s;
}

.combo-box:hover {
  transform:translateY(-5px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.19), 0 0 0 4px rgba(75, 137, 220, 0.5);
}

.combo-box:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.combo-box option {
  margin: 10px;
}

.result-table {
  border-collapse: collapse;
  width: 100%;
}

.result-table td {
  border: 1px solid black;
  height: 40px;
}

.table-header {
  font-family: 'NanumSquareNeoExtraBold';
  width: 200px;
}

.safe-lvl span {
  padding: 6px 15px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.safe-lvl .lvl-1 {
  background-color: #0469bf;
  color: whitesmoke;
}

.safe-lvl .lvl-2 {
  background-color: #fcc33c;
  color: black;
}

.safe-lvl .lvl-3 {
  background-color: #c82613;
  color: whitesmoke;
}

.safe-lvl .lvl-4 {
  background: repeating-linear-gradient(130deg, #000, #000 5px, #760000 0, #760000 10px);
  color: whitesmoke;
}